<template>
  <v-container class="fill-height">
    <v-responsive class="align-center text-center fill-height">
      <div>
        <h1 class="text-h2 font-weight-bold pa-5">Create Alpha</h1>
        <p class="text-subtitle-1 font-weight-light text-color-grey-lighten-1 pa-2">A small team haing great dream.</p>
        <v-btn>About</v-btn>
      </div>
    
    </v-responsive>
  </v-container>
  <!--<HelloWorld />-->
</template>

<script lang="ts" setup>
  import HelloWorld from '@/components/HelloWorld.vue'
</script>
