<template>
  <v-app>
    <default-bar />
    <default-view />
    <default-footer />
    
  </v-app>
</template>

<script lang="ts" setup>
  import DefaultBar from './AppBar.vue'
  import DefaultFooter from './Footer.vue'
  import DefaultView from './View.vue'
</script>
