<template>
    <v-footer
        class="text-center d-flex flex-column"
    >
        <div>
            <v-btn href="https://https://create-alpha.itch.io/" variant="text" key="itch-io" class="mx-4" icon="fa:fab fa-itch-io" />
        </div>

        <div>
            {{ new Date().getFullYear() }}, <strong>Create Alpha</strong>
        </div>
        
    </v-footer>
</template>

<script setup lang="ts">
    //
</script>